RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

# Prevent to access database credentials
RewriteCond %{REQUEST_FILENAME} config.json
# accessed only from command line
RewriteCond %{REQUEST_FILENAME} recreate_tags.php
RewriteRule .* - [F]

# Display maintenance page if we're doing some work on the site
RewriteCond %{DOCUMENT_ROOT}/maintenance.html -f
RewriteCond %{REQUEST_URI} !^/style.css
RewriteCond %{REQUEST_URI} !^/images(.*)
RewriteCond %{REQUEST_URI} !^/people(.*)
RewriteRule ^.*$ maintenance.html
