<div id="follow-us-box" class="sidebox">
  <h3>Follow us:</h3>
  <div class="wrapper">
    <a href="http://twitter.com/openclipart"><img src="/images/twitter_logo.png" alt="twitter logo"></a>
    <a href="http://identi.ca/group/openclipart"><img src="/images/identi.ca_logo.png" alt="identi.ca logo"></a>
    <a href="https://plus.google.com/u/0/b/101547969555367421837/101547969555367421837"><img src="/images/google_plus_logo.png" alt="google+ logo"></a>
  </div>
</div>
