<div id="most-popular-small" class="recent-img-d clearfix">
  <h3>
    <a href="/most-popular-weekly">Most Popular Clipart Last Week</a>
    <img alt="" src="/images/OCAL_Favorites_Icon_Selected_Red.png"/>
    <a href="/rss/popular-weekly.xml" target="_blank">
      <img src="/images/rss-sm.png" alt="RSS">
    </a>
  </h3>
  {{content}}
</div>
