<div id="last-month-top-artist" class="sidebox">
  <h3>Top Artist this month</h3>
  <div class="wrapper">
    <ul>
      {{#artists}}
        <li>
          <span class="left">
            <a href="/user/{{username}}{{forward_query}}">{{username}}</a>
          </span>
          <span class="right">{{num_uploads}}</span>
        </li>
      {{/artists}}
    </ul>
  </div>
</div>
