<div id="upload-box" class="sidebox" >
	<div class="boxtop"></div>
	<ul class="clearfix img-actions">
		<li class="u-svg"><a href="/upload">Upload Clipart</a></li>
	</ul>
	<div class="boxbottom"></div>
</div>
